*{
    box-sizing: border-box;
}
body{
/* overflow: hidden; */
height: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: aquamarine;
margin: 0;
padding: 0;
}
.header{
    background-color: blueviolet !important;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
}
.opensidebarmenu{
    background-color: black ;
}
.main{
    /* margin-top: 60px; */
    height: 30vh;
    padding: 10px 50px;
    background-color: rgb(6, 248, 188);
    padding-top: 100px !important;
}
#sidebarmenu{
height: 100%;
padding: ;
position: fixed;
left: 0;
top: 0;
margin-top: 60px;
background-color: black;
width: 250px;
transform: translateX(-250px);
transition: transform 250ms ease-in-out;
}
#opensidebarmenu:checked ~ #sidebarmenu{
    transform: translateX(0px);

}
.fa-solid{
    color: black;
    width: 16px !important;
    height: 30px !important;
    text-align: center;
    font-size: 25px;
    position: fixed;
}


input label{
    position: fixed !important;

}
img{
    width: 200px;
    margin-top: 0;
}
.sideBartoggleIcon{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    position: fixed;
    top: 22px !important;
    left: 15px !important;
    cursor: pointer;
    /* background-color: rgb(243, 137, 9); */
}
li {
    list-style: none;
padding: 20px !important;

}
li a{
    text-decoration: none;    
color: antiquewhite;
padding: 20px !important;
text-transform: uppercase;
}
.bar{
    height: 3px;
    background-color: black;
    transition: all 0.3s;
}
.bar.middle{
    margin-top: 3px;
}
.bar.bottom{
    margin-top: 3px;
}
#opensidebarmenu:checked ~ .sideBartoggleIcon > .bar.middle{
   opacity: 0;
}

#opensidebarmenu:checked ~ .sideBartoggleIcon > .bar.top{
    transform: rotate(135deg);
    margin-top: 8px;
}
#opensidebarmenu:checked ~ .sideBartoggleIcon > .bar.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;

}
input {
    width: 50%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}
button {
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 18px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.userInp {
    margin: 20px auto;
    width: 100%;
    text-align: center !important;
}
form{
    text-align: center;
}

/* * {

.header {
    background-color: #333333;
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: white;
    font-size: 40px;
}


input {
    width: 50%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}


.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
    input {
    width: 50%;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

} */