
body{
    /* background-color: aqua; */
    /* background-image: url("./images/th.jpeg"); */
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 8rem;
    /* margin-top: 10%; */
    color: aliceblue;
    font
}
.container{
    display: flex;
    justify-content:center;
}
.landing{
    background-color: blue;
    width: 70%;
    height:80vh;
    text-align: center;



}